<mat-toolbar color ="primary"> 
    <a [routerLink]="'/'"
        mat-icon-button class="example-icon" aria-label="example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>
    <span>Incripción Web</span>
    <span class="example-spacer"></span>
    <a 
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon smaller-text" aria-label="Example icon-button with heart icon">
        Iniciar Sesion
    </a>

    <a 
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/signup'" 
        mat-icon-button 
        class="example-icon favorite-icon mr30 ml70 smaller-text" 
        aria-label="Example icon-button with heart icon">
        Registrarse
    </a>
 
    <a 
        *ngIf="login.isLoggedIn()"
        (click)="logout()" 
        style="margin-right: 50px;"
        mat-icon-button 
        class="example-icon favorite-icon  mr30 ml70 smaller-text" 
        aria-label="Example icon-button with heart icon">
        Cerrar Sesión
    </a>
    
    <button 
        *ngIf="login.isLoggedIn()"
        mat-button
        style="margin-right: 10px;"
        class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        {{login
            .getUser().username}}    
    </button>

</mat-toolbar>