<mat-toolbar color ="primary"> 
    <a [routerLink]="'/'"
        mat-icon-button class="example-icon" aria-label="example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>
    <span>Incripción Web</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon smaller-text" aria-label="Example icon-button with heart icon">
        Iniciar Sesion
    </a>
    
    <a [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr30 ml70 smaller-text" aria-label="Example icon-button with heart icon">
        Registrarse
    </a>
</mat-toolbar>